<h1 [style.color]="tittleColor">Formulario</h1>
<hr />

<h1>Class & Style</h1>
<input required type="text" #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input required type="text" #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="">
  </div>
</div>
<hr />
<h1>NgClass & NgStyle</h1>
<input required type="text" #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}" />
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>
<div>
  <a routerLink="/home">Home</a>
</div>

<hr />
<!-- ngFor OBJETOS -->
<h1>*ngFor objs</h1>
<div class="products--grid">
  <!-- <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2> {{ product.price }} </h2>
    <p> {{ product.name }} </p>
  </div> -->
</div>

<!-- Property binding es la forma en la que podemos modificar atributos desde la logica
y mandarlos hasta acá html -->
<h1>Propiedades</h1>
<button [disabled]='btnDisabled'>Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img" alt="">
<!-- Renderizando un objeto -->
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="">
<hr />

<h1>Hola mundo</h1>
<!-- String interpolation, desde la logica(ts) pasar datos a renderizar a nuestra vista -->
<h2>{{ 'Hola mundo '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<!-- Variables traidas de app.component.ts porque estan públicas-->
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<!-- Tambien funciona con imagenes -->
<img src={{img}} alt="Imagen">

<!-- String interpolation sirve para ingresar contenido en un parrafo donde necesitamos renderizarlo
Property binding ideal para manejar objetos o numeros, configurar propiedades de elementos html -->

<hr />
<!-- Event binding, como escuchar eventos -->
<h1>EVENTOS</h1>
<button [disabled]='btnDisabled'>Enviar</button>
<button (click)='toggleButton()'>Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)='increaseAge()'>Age ++</button>
<div class="box" (scroll)='onScroll($event)'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident culpa
  veniam commodi eos sed praesentium dolore, aliquid necessitatibus non possimus sit inventore voluptatem laborum dicta
  et officia beatae corporis magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident culpa veniam
  commodi eos sed praesentium dolore, aliquid necessitatibus non possimus sit inventore voluptatem laborum dicta et
  officia beatae corporis magni.</div>
<p>Name {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)='changeName($event)'>

<hr />
<!-- Data binding, fusión entre escuchar un evento y settear una propiedad-->
<!-- ng model [()] = " " especial para los inputs-->
<h1>NgModel</h1>
<p>Name {{ person.name }}</p>
<input required type="text" #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input max="18" min="10" type="number" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<!-- ngIf -->
<h1>*ngIf</h1>
<input required type="text" [(ngModel)]="person.name">
<p *ngIf="person.name == 'Erika'">Soy Erika</p>
<p *ngIf="person.name == 'Nicolas' && person.age == 18; else elseBlock">Soy Nicolas</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>

<hr />
<!-- ngFor -->
<h1>*ngFor</h1>
<input required type="text" [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{ i }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />
<!-- ngSwitch OBJETOS -->
<h1>[ngSwitch]</h1>
<input required type="text" [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Erika'"> La persona es Erika </p>
  <p *ngSwitchCase="'Nicolas'"> La persona es Nicolas </p>
  <p *ngSwitchCase="'Santiago'"> La persona es Santiago </p>
  <p *ngSwitchDefault>No hace match</p>
</div>
